:root {
  --body-color: #1e0400; 
  --body-background-image: linear-gradient(180deg, #b41c00 , #1e0400 );
  --text-color: #ffffff;
}

body {
  background-color: var(--body-color);
  background-image: var(--body-background-image);
  background-attachment:fixed;
  color: var(--text-color);
}

.glow {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  color: white;
 }